# --- CORE IMMICH CONNECTION ---
# Internal Docker networking is more reliable for container-to-container talk
IMMICH_URL=
IMMICH_API_KEY=

# --- FRONTEND ACCESS ---
# This MUST be your NAS IP and the PowerTools port (8001)
POWER_TOOLS_ENDPOINT_URL=

# --- DATABASE CONNECTION ---
# The Immich version to use. You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_DATABASE_NAME=
DB_USERNAME=
DB_PASSWORD=

# --- SECURITY ---
JWT_SECRET=
# --- MOVED FROM COMPOSE FILES ---
PLEX_CLAIM=
GF_SECURITY_ADMIN_PASSWORD=
UP_UNIFI_DEFAULT_PASS=
